<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
      <add key="GatewayService.MerchantKey" value="4257d3e1-86a1-4239-b7f2-6516caf110ea" />
      <add key="GatewayService.HostUri" value="https://sandbox.mundipaggone.com" />
  </appSettings>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="TicketStoreContext" connectionString="Data Source=.\SQLSERVER;AttachDbFilename=|DataDirectory|\TicketStore.mdf;Initial Catalog=TicketStore;Integrated Security=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>