<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".
  -->
  <connectionStrings>
    <add name="TicketStoreContext"
      connectionString="Data Source=db7264a1-7f32-4524-ab90-a59d010e6005.sqlserver.sequelizer.com;Initial Catalog=dbdb7264a17f324524ab90a59d010e6005;Persist Security Info=True;User ID=czhoirszeqzvnfcc;Password=MxEkZPVmMMwBe8zvTohLknZwvsha8F2ryNyV4jHyie6PtqZmnJfsfA4zEhXGFUng"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
